
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$eps: 1px;

$primary-color: #1846C7;
$secondary-color: #F7B500;
$accent-color: #EE215B;
$grey-50: #F7F7F7;
$grey-100: #DDDDDD;
$grey-200: #858585;
$grey-300: #5C5C5C;
$black: #333333;
$white: #FFFFFF;
$bad: #F7E0E0;

$semi-bold: 600;
$font-family: 'Open Sans', sans-serif;