@use 'pallet' as *;
@use 'mixins' as *;

:host {
    @include fill-screen;
}

.login-container {
    border-radius: 32px;
    padding: 32px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: calc($md - $eps)) {
        max-width: 95%;
    }
}

.bg {
    background: url('../../../assets/images/auth-background.webp') no-repeat center;
    background-blend-mode: darken;
    background-size: cover;
    width: 100%;
    height: 100%;
}

::ng-deep {
    @mixin auth-element {
        padding: 18px;
        border-radius: 16px;
        width: 422px;
        height: 57px;
        margin-bottom: 8px;
        font-size: 16px;
        transition: .2s ease-in-out;
        max-width: 100%;
    }

    .auth-input {
        @include auth-element;
        background-color: $grey-50;
        border: 1px solid transparent;
        &::placeholder {
            color: $grey-200;
            font-weight: $semi-bold;
        }
        &:focus {
            border: 1px solid $black;
        }
        &.bad {
            background-color: $bad;
        }
    }

    .auth-button {
        @include auth-element;
        font-weight: bold;
        &.primary {
            background-color: $black;
            color: $white;
            &:hover {
                opacity: 0.9;
            }
        }
        &.secondary {
            background-color: $white;
            border: 1px solid $grey-100;
            &:hover {
                background-color: $grey-50;
            }
            &:disabled {
                background-color: $grey-100;
            }
        }
    }
}