
<div class="offer-card" [attr.name]="value.id">
    <a [routerLink]="`/offer/${value.id}`">
        <div class="offer-pic-container">
            <img class="offer-picture" [src]="value.pictures[0]" />
        </div>
    </a>
    <div class="offer-text">
        <b class="offer-title">{{value.title}}</b>
        <p class="offer-desc">{{shortDesc}}</p>
    </div>
    <div class="mt-auto w-100">
        <button  [routerLink]="`/offer/${value.id}`" class="button-filled">More</button>
    </div>
</div>