
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use 'bootstrap/scss/bootstrap';
@use 'pallet' as *;
@use 'mixins' as *;
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

:root {
    .mat-mdc-snack-bar-label {
        color: $white;
        font-family: $font-family;
        font-size: 16px !important;
        text-align: center;
    }
    mat-snack-bar-container {
        margin-bottom: 16px;
    }
}

body {
    padding: 0;
    margin: 0;
    background-color: $white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
}

app-root {
    @include fill-screen;
}

p {
    padding: 0;
    margin: 0;
}

* {
    font-family: $font-family;
    color: $black;
    font-size: 14px;
    line-height: 150%;
    box-sizing: border-box;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

a {
    color: $primary-color;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

a.disabled {
    font-weight: normal;
    color: $grey-300;
    font-size: 16px;
}

.username {
    font-weight: normal;
    color: $grey-300;
    font-size: 16px;
}

.bold, b {
    font-weight: bold;
}

.muted {
    color: $grey-300;
}

.light {
    color: $grey-200;
}

.button, button {
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: $semi-bold;
    cursor: pointer;
}

.button-filled {
    background-color: $primary-color;
    color: $white;
}

.button-light {
    background: $white;
    color: $primary-color;
    border: 1px solid $primary-color;
}

.input, input, .button, button {
    outline: none;
    border: none;
}

.button, button {
    user-select: none;
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

label {
    display: block;
    margin-bottom: 7px;
    width: 100%;
}

input {
    width: 287.98px;
    height: 37.98px;
    border-radius: 6px;
    border: 1px solid $grey-100;
}

form {
    max-width: 100%;
}

.input-box {
    width: 287.98px;
    height: 65.98px;
}

i {
    &[class^="i-"] {
        background-color: $black;
        width: 14px;
        height: 14px;
        display: inline-block;
        mask-size: contain !important;
        mask-repeat: no-repeat !important;
        mask-position: center !important;
    }
    &.i {
        &-search {
            mask: url('./assets/icons/search.svg');
        }
        &-list {
            mask: url('./assets/icons/list.svg');
        }
        &-social {
            mask: url('./assets/icons/social.svg');
        }
        &-plus {
            mask: url('./assets/icons/plus.svg');
        }
        &-dropdown {
            mask: url('./assets/icons/dropdown.svg');
        }
    }
}

img {
    user-select: none;
}